body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#links {
    color: ivory;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bolder;
    margin-right: 60%;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        padding-left: 100px;
    }    
}

.container {
    padding: 0%;
}

#box {
    min-width: 200px;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.img-fluid {
    border-radius: 10px;
}